h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}
select {
    padding: 5px;
    width: 100px;
    border-radius: 4px;
    background-color: #f1f1f1;
}
body {
    background-color: rgb(255, 241, 211) !important;
}
#map {
    height: 400px;
    width: 90%;
    cursor: pointer;
}
input {
    padding: 5px;
    margin-top: 10px;
}
